.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Output of AnimPlot1
test video/*
test video 1/*
.vscode/settings.json
*.png
